<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>69F0A725-6DF8-47A1-8D98-C845CAE855C4.playgroundpage</string>
		<string>9223D142-FB8B-45F2-9BAF-03B2F3A98975.playgroundpage</string>
		<string>442321D0-3A11-4981-856A-414B19CF2FE5.playgroundpage</string>
		<string>346F3724-0128-42DB-94DA-B7778A0D2B5C.playgroundpage</string>
	</array>
</dict>
</plist>
